<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    1.0.0
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; <%= Time.now.year %> <a href="https://grably.net">VELSE</a>.</strong> All rights reserved.
  <div class=" col-md-offset-5">
  </div>
</footer>