<header class="main-header">

  <!-- Logo -->
  <a href="#" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>PM</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>VELESE</b>
    </span>

  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu" id="calc_stats">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="hidden-xs"><%= "#{current_user.email}" %></span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <p>
                <%= "#{current_user.email}" %>
              </p>
            </li>
            <li class="user-footer stop_report_result">
              <div class="pull-right stop_report_result">
                <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'btn btn-default btn-flat' %>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
